/* 
Colors
#20C1C7
#204648
#189094
#61CED2
#0C4648
*/
input[type="file"] {
    cursor: pointer;
}
button:focus {
    outline: 0;
}

.file-btn {
    position: relative;
}
.file-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.actions {
    padding: 5px 0;
}
.actions button {
    margin-right: 5px;
}

pre[class*="language"] {
    margin: 10px 0;
    padding-top: 0;
    border-left-color: #189094;
}

.demo-wrap {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
}

.demo-wrap .container {
    padding-bottom: 10px;
}

.demo-wrap strong {
    font-size: 16px;
    display: block;
    font-weight: 400;
    color: #aaa;
    margin: 0 0 5px 0;
}

.documentation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.documentation section > ul > li {
    margin-bottom: 1.5em;
}

.documentation p {
    margin: 5px 0 10px;
}

.documentation .parameter-list li {
    padding-left: 5px;
    line-height: 28px;
}
.documentation .parameter-list li.values {
    padding-left: 20px;
}
.documentation em {
    color: #aaa;
    font-style: normal;
    padding: 0 10px;
}
.documentation i {
    color: #666;
}

.documentation strong.focus {
    font-size: 18px;
    color: #189094;
    font-weight: 700;
}
.documentation span.default {
    padding-right: 10px;
    font-weight: 600;
    color: #777;
}

.important-notes article {
    margin-bottom: 2em;
}

.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}
.upload-demo.ready .upload-result {
    display: inline-block;    
}
.upload-demo-wrap {
    width: 550px;
    height: 550px;
    margin: 0 auto;
}

.upload-msg {
    text-align: center;
    font-size: 22px;
    color: #aaa;
    width: 260px;
    margin: 50px auto;
    border: 1px solid #aaa;
}

/* Grid - subset */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#crop_image_model .modal-title {
    float: right;
}
#crop_image_model .close {
    float: left;
}

#crop_image_model .actions {
    text-align: left;
}

#crop_image_model .actions {
    float: left;
}

@media only screen and (max-width: 700px) {
    .upload-demo-wrap {
        width: 100%
    }
}

#selectFile {
    display: table;
    margin: 15px auto;
    padding-bottom: 30px;
}

.upload-msg {
    height: 250px;
    background: #f2f2f2;
    vertical-align: middle;
    display: table-cell;
    position: relative;
}

.select_file .file_options {
    opacity: 0;
}

#modelUploadImg .file_options {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0px !important;
    left: 0;
    right: 0;
}

@media handheld, only screen and (max-width: 767px) {
    .container, 
    .section-header h2 {
        min-width: 0;
    }
}