label.cabinet{
	display: block;
	cursor: pointer;
    margin-bottom: 20px
}

label.cabinet input.file{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  margin-top:-30px;
}

#upload-demo{
	width: 250px;
	height: 250px;
  padding-bottom:25px;
}
figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}
#default_cr1 img{
    width: 100% !important
}#default_cr2 img{
    width: 100% !important
}#default_cr3 img{
    width: 100% !important
}#default_cr4 img{
    width: 100% !important
}