/*
  Theme Name: Novable - App Landing HTML5 Template
  Support: johanspond@gmail.com
  Description: App Landing HTML5 template.
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. Header
3. Breadcrumb
4. Slider
5. About
6. Features
7. Work-process
8. Screenshot
9. Faq
10. Pricing
11. Testimonail
12. Download
13. Team
14. Counter
15. Bolg
16. Contact
17. Footer
18. loader

*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7Cbukrah:300,400,500,600,700');
@font-face {
  font-family: bukrah;
  src: url(../fonts/29lt-bukra-bold.otf);
}

 body {
	font-family: 'bukrah', bukrah;
	font-weight: normal;
	font-style: normal;
    scroll-behavior: smooth
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #443020;
	text-decoration: none;
}
.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}
a,
button {
	color: #443020;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{
	outline: 0
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'bukrah', bukrah;
	font-weight: normal;
	color: #242424;
	margin-top: 0px;
	font-style: normal;
	font-weight: 600;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 15px;
	font-weight: normal;
	line-height: 25px;
	color: #242424;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #443020 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */
.btn {
	-moz-user-select: none;
	background: #3d2b1d;
	background: -webkit-linear-gradient(to bottom, #3d2b1d, #593c25);
	background: linear-gradient(to bottom, #3d2b1d, #593c25);
	border: medium none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1;
	margin-bottom: 0;
	padding: 14px 30px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	font-family: 'bukrah', bukrah;
}
.btn:hover {
	color: #fff;
}
.btn.transparent-btn {
	background: transparent;
	border: 1px solid #ffffff;
	position: relative;
	transition: .3s;
}
.btn.transparent-btn::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #3d2b1d;
	background: -webkit-linear-gradient(to bottom, #3d2b1d, #593c25);
	background: linear-gradient(to bottom, #3d2b1d, #593c25);
  
	opacity: 0;
	border-radius: 4px;
	z-index: -1;
	transition: .3s;
}
.btn.transparent-btn:hover {
	border-color: transparent;
}
.btn.transparent-btn:hover::before {
	opacity: 1;
}
.breadcrumb > .active {
	color: #888;
}
.p-relative {
	position: relative;
}
/* scrollUp */
#scrollUp {
	background: #443020;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #444;
}

/* 2. Header */
.transparent-header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9;
    direction: rtl;
	
}
.main-menu .navbar {
	padding: 0;
}
.main-menu .navbar-nav li.nav-item {
	margin-right: 30px;
}
.main-menu .navbar-nav li.nav-item a.nav-link {
	color: #fff;
	font-size: 15px;
	position: relative;
	padding: 30px 0;
	font-family: 'bukrah', bukrah;
}
.main-menu .navbar-nav li.nav-item.active a.nav-link {
  font-weight: 600;
}
.header-btn {
	margin-left: 80px;
}
.header-btn > .btn.transparent-btn::before {
	background: #3d2b1d;
	background: -webkit- linear-gradient(to right, #583c24, #463121);
	background:  linear-gradient(to right, #583c24, #463121);
	opacity: 0;
}
.header-btn > .btn.transparent-btn:hover::before {
	opacity: 1;
}
.sticky-header {
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	background: #453020 none repeat scroll 0 0;
	-webkit-box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
	left: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	border-bottom: none;
}
.transparent-header.s-th {
	border-color: #fff6;
}
.header-btn.th-btn .btn {
	background: #fff;
	border-color: #fff;
	color: #fb3d47;
}
.header-btn.th-btn .btn:hover {
	background: transparent;
	color: #fff;
}
.header-btn.th-btn .btn::before {
	content: none;
}
/* 3. Breadcrumb */
.breadcrumb-area {
	height: 400px;
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 1;
}
.breadcrumb-area::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: .8;
	z-index: -1;
	left: 0;
	top: 0;
}
.inner-header {
	border-color: #ffffff4d;
}
.breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: block;
	-ms-flex-wrap: wrap;
	flex-wrap: nowrap;
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	background-color: unset;
	border-radius: 0;
}
.breadcrumb li {
	display: inline-block;
}
.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	color: #fff;
	content: "\f105";
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
}
.breadcrumb > .active {
	color: #fff;
	font-size: 15px;
}
.breadcrumb li a {
	font-size: 15px;
	color: #fff;
}
.breadcrumb li a:hover {
	color: #0c72de;
}
.breadcrumb-wrap h2 {
	color: #fff;
	font-size: 36px;
	margin-bottom: 10px;
}
.breadcrumb-wrap {
	padding-top: 80px;
}
.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: block;
	padding-left: 0;
	list-style: none;
	border-radius: 0;
	text-align: center;
}
.pagination li {
	display: inline-block;
}
.pagination li a {
	height: 45px;
	width: 45px;
	display: block;
	line-height: 45px;
	border-radius: 50%;
	font-size: 15px;
	font-weight: 600;
	color: #242424;
	font-family: 'bukrah', bukrah;
}
.pagination li.active a {
	background: -webkit-linear-gradient( to top, rgb(87, 59, 35) 0%, rgb(70, 49, 33) 99%);
	background: linear-gradient( to top, rgb(87, 59, 35) 0%, rgb(70, 49, 33) 99%);
	color: #fff;
}
/* 4. Slider */
.slider-bg {
	height: 1090px;
	background-position: top center;
	background-repeat: no-repeat;
}
.s-slider-bg {
	height: 1057px;
}
.third-slider-bg {
	background-position: center;
	background-size: cover;
	height: 860px;
}
.slider-content {
	padding-top: 270px;
    text-align: right;
    margin-right: 70px;
}
.slider-content > span {
	font-family: 'bukrah', bukrah;
	font-size: 45px;
	color: #fff;
	display: block;
	margin-bottom: 10px;
	line-height: 1;
}
.slider-content h2 {
	font-size: 60px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.slider-content p {
	margin-bottom: 50px;
	color: #fff;
	font-size: 18px;
}
.slider-img {
	margin-left: -100px;
	padding-top: 120px;
}
.slider-shape {
	position: absolute;
	right: 0%;
	top: 31%;
	animation: heartbeat 1s infinite alternate;
}
@-webkit-keyframes heartbeat {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.slider-btn .btn {
	background: #3d2b1d;
	background: -webkit- linear-gradient(to right, #583c24, #463121);
	background:  linear-gradient(to right, #583c24, #463121);
	box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
}
.slider-btn .btn.transparent-btn {
	box-shadow: none;
}
.slider-btn .btn.transparent-btn {
	background: transparent;
	border-color: #ffffff;
	left: 25px;
}
.slider-btn .btn.transparent-btn:hover {
	border-color: transparent;
	box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
}
.slider-btn .btn.transparent-btn::before,.slider-btn .btn.transparent-btn::after {
	z-index: -1;
}
.slider-btn .btn:before,.slider-btn .btn::after {
    background-color: #fff;
    content: "";
    height: 100%;
    left: -110%;
    opacity: 0.1;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.5s ease 0s;
    -khtml-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: skewX(25deg);
    -khtml-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -ms-transform: skewX(25deg);
    -o-transform: skewX(25deg);
    transform: skewX(25deg);
    width: 100%;
    z-index: 1;
}
.slider-btn .btn:hover:before {
    left: -10%;
    -webkit-transition: all 0.3s ease 0s;
    -khtml-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.slider-btn .btn:hover:after {
    left: -20%;
}
.s-slider-img {
	padding-top: 160px;
	margin-left: -105px;
}
.s-slider-content {
	padding-top: 330px;
}
.third-slider-img {
	padding-top: 130px;
	margin-left: -120px;
}
.third-slider-btn .btn {
	background: #f82514;
	background: -webkit-linear-gradient(to right, #e31b38, #f82514);
	background: linear-gradient(to right, #e31b38, #f82514);
	box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
}
.third-slider-btn .btn.transparent-btn {
	border-color: #fff;
	background: #FA4242;
}
.third-slider-btn .btn.transparent-btn:hover {
	background: #f82514;
	border-color: #f82514;
}
.s-th.sticky-header {
	background: #f82514;
	background: -webkit-linear-gradient(to right, #e31b38, #f82514);
	background: linear-gradient(to right, #e31b38, #f82514);
}
.s-th-two.sticky-header {
	background: #4146B3;
}
.download-btn.s-slider-btn a i {
	background: -webkit-linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	background: linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.download-btn.s-slider-btn .t-transparent-btn i {
	color: #fff;
	-webkit-text-fill-color: #fff;
	transition: .3s;
}
/* 5. About */
.section-title h2 {
	font-size: 36px;
	position: relative;
	padding-bottom: 35px;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.section-title h2::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	width: 92px;
	height: 17px;
	background: url("../img/shape/title_shape.png");
	background-repeat: no-repeat;
	margin: auto;
	transition: all 300ms linear 0s;
}
.section-title.home-two h2::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	width: 92px;
	height: 17px;
	background: url("../img/shape/shape-two.png");
	background-repeat: no-repeat;
	margin: auto;
	transition: all 300ms linear 0s;
}
section:hover .section-title h2::before {
	width: 92px;
}
.section-title.third-section-title h2::before {
	background: url("../img/shape/section-style.png");
	width: 103px;
	height: 3px;
}
section:hover .third-section-title h2::before {
	width: 103px;
}
.section-title p {
	margin-bottom: 0;
	padding: 0 40px;
}
.about-area.theme-bg {
	position: relative;
	z-index: 1;
    direction: rtl;
}
.about-content{
    text-align: right !important
}
.about-content h3 {
	font-size: 36px;
	margin-bottom: 25px;
}
.about-content p {
	margin-bottom: 20px;
}
.about-app2 {
	position: absolute;
	bottom: 54px;
	z-index: -1;
	right: -30px;
}
.s-about-icon {
	float: left;
	display: block;
}
.s-about-icon i {
	height: 60px;
	width: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	color: #696ED3;
	border: 1px solid #ddd;
	border-radius: 50%;
	margin-right: 15px;
	position: relative;
	transition: .3s;
}
.s-about-icon i::after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	transition: .3s;
	z-index: -1;
	border-radius: 50%;
	opacity: 0;
}
.s-about-content h5 {
	font-size: 18px;
	margin-bottom: 5px;
}
.single-about-list:hover .s-about-icon i {
	color: #fff;
}
.single-about-list:hover .s-about-icon i::after {
	opacity: 1;
}
.about-list ul li {
	margin-bottom: 45px;
}
.about-list ul li:last-child {
	margin-bottom: 0;
}
.about-list {
	padding-top: 70px;
}
.s-about-content .btn {
	background: #f82514;
	background: -webkit-linear-gradient(to right, #e31b38, #f82514);
	background: linear-gradient(to right, #e31b38, #f82514);
	border-radius: 50px;
	padding: 14px 40px;
}
.about-area.pb-35 {
    padding-bottom: 38px;
}
.third-abot-p.pb-55 {
    padding-bottom: 57px;
}
/* 6. Features */
.polygon-padding {
	padding-top: 207px;
	padding-bottom: 148px;
}
.features-area {
	background: #f7f7f7;
	-webkit-clip-path: polygon(0 10%, 100% 0%, 100% 96%, 0% 100%);
	clip-path: polygon(0 10%, 100% 0%, 100% 96%, 0% 100%);
}
.features-app::before {
	content: "";
	position: absolute;
	right: 15px;
	bottom: -25px;
	background: url("../img/shape/f_app_bg.png") no-repeat;
	width: 546px;
	height: 538px;
	z-index: -1;
}
.features-icon {
	float: right;
	display: block;
	margin-left: 15px;
}
.features-content {
    text-align: right;
}
.features-content h4 {
	font-size: 20px;
	margin-bottom: 5px;
}
.features-content p {
	margin-bottom: 0;
}
.features-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 35px;
	transition: .3s;
}
.features-icon::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("../img/icon/features-icon-fill.png");
	opacity: 0;
	z-index: -1;
	transition: .3s;
}
.single-features:hover .features-icon i {
	color: #fff;
}
.single-features:hover .features-icon::after {
	opacity: 1;
}
.inner-features-icon i {
	height: 60px;
	width: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	border: 1px solid #5d62d1;
	border-radius: 50%;
	margin-bottom: 20px;
	font-size: 24px;
	color: #242424;
	position: relative;
	transition: .3s;
}
.inner-features-icon i::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient( to top, rgb(62,69,224) 0%, rgb(88, 59, 35) 99%);
	z-index: -1;
	border-radius: 50%;
	opacity: 0;
	transition: .3s;
}
.inner-features-wrap:hover .inner-features-icon i {
	color: #fff;
}
.inner-features-wrap:hover .inner-features-icon i::after {
	opacity: 1;
}
.inner-features-content h5 {
	font-size: 20px;
	margin-bottom: 10px;
}
.inner-features-content p {
	margin-bottom: 0;
}
.s-features-area {
	position: relative;
	z-index: 1;
}
.third-section-title.left-title h2::before {
	margin: unset;
}
.third-section-title.left-title p {
	padding-left: 0;
}
.third-features-area {
	position: relative;
	z-index: 1;
}
.explore-app {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}
.t-features-icon {
	float: left;
	display: block;
	margin-right: 15px;
}
.features-shape {
	position: absolute;
}
.features-shape.fs-one {
	top: 30%;
	left: 10%;
}
.features-shape.fs-two {
	left: 9%;
	top: 54%;
}
.features-shape.fs-three {
	left: 16%;
	top: 63%;
	animation: rotate3d 4s linear infinite;
}
.features-shape.fs-four {
	left: 6%;
	bottom: 17%;
}
.features-shape.fs-five {
	top: 23%;
	right: 13%;
	animation: rotate3d 4s linear infinite;
}
.features-shape.fs-six {
	top: 47%;
	right: 2%;
}
.features-shape.fs-seven {
	right: 10%;
	bottom: 26%;
}
.rotateme {
	-webkit-animation-name: rotateme;
	animation-name: rotateme;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
/* 7. Work-process */
.wp-icon {
	display: flex;
	align-items: center;
    direction: rtl;
}
.wp-icon img {
	float: left;
	display: block;
	margin-left: 15px;
}
.wp-icon h4 {
	overflow: hidden;
	margin-bottom: 0;
	font-size: 18px;
}
.single-wp {
	overflow: hidden;
	padding: 40px 25px;
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
	padding-bottom: 35px;
	position: relative;
	background: #fff;
	transition: .3s;
	z-index: 1;
}
.wp-content p {
	margin-bottom: 5px;
    text-align: right;
}
.workprocess-area{
    direction: rtl;
}
.wp-content a {
	font-size: 22px;
	color: #5b5b5b;
	line-height: 1;
}
.single-wp::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border: 1px solid #402e1e;
	border-image: linear-gradient( to bottom, rgb(65, 45, 30) 0%, rgb(65, 45, 30) 100%);
	order-image: -webkit-gradient( linear, left top, left bottom, from(rgb(65, 45, 30)), to(rgb(65, 45, 30)));

	border-image-slice: 1;
	opacity: 0;
	z-index: -1;
	transition: .3s;
}
.single-wp.ts-wp::before {
	border-color: #f82514;
	border-image: -webkit-linear-gradient(to right, #e31b38, #f82514);
	border-image: linear-gradient(to right, #e31b38, #f82514);
	border-image-slice: 1;
}
.single-wp:hover {
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
}
.single-wp:hover::before {
	opacity: 1;
}
.single-wp:hover .wp-content a {
	color: #443020;
}
.single-wp.ts-wp:hover .wp-content a {
	color: #fd5463;
}
.wp-list-icon {
	float: left;
	margin-right: 20px;
}
.wp-list-icon i {
	font-size: 30px;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 60px;
	display: block;
	border: 1px solid rgb( 216, 216, 216 );
	border-radius: 50%;
	background: #fff;
	position: relative;
	transition: .3s;
}
.wp-list-content h5 {
	font-size: 18px;
	margin-bottom: 7px;
}
.wp-list-content p {
	margin-bottom: 0;
}
.wp-list ul li {
	margin-bottom: 45px;
}
.wp-list ul li:last-child {
	margin-bottom: 0;
}
.wp-list::before {
	content: "";
	position: absolute;
	left: 15px;
	top: 52px;
	background-image: url("../img/shape/border-shape.png");
	width: 36px;
	height: 400px;
	background-repeat: no-repeat;
}
/* 8. Screenshot */
.screenshot-title span {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'bukrah', bukrah;
	line-height: 1;
}
.screenshot-title h3 {
	color: #fff;
	font-size: 36px;
	margin-bottom: 10px;
}
.screenshot-title p{
	color: #fff;
	margin-bottom: 0;
}
.ss-icon i {
	color: #fff;
	font-size: 30px;
	margin-left: 15px;
}
.ss-icon h5 {
	font-weight: 400;
	color: #fff;
	font-size: 20px;
	margin-bottom: 0;
}
.ss-content p {
	color: #fff;
	margin-bottom: 0;
}
.screenshot-carousel img {
	box-shadow: 0 5px 25px 4px rgba(0,0,0,.3);
}
.screenshot-carousel {
	margin-left: 50px;
}
.screenshot-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    text-align: right;
}
.single-shot img {
	box-shadow: 0px 0px 35px 0px rgba(88, 93, 204, 0.65);
	display: inline-block;
	border-radius: 10px;
}
.s-screenshot-area.ss-bg-wrap {
    padding-top: 92px;
    padding-bottom: 160px;
    background-position: center;
    background-size: cover;
}
.ss-title h2 {
	color: #fff;
}
.ss-title h2::before {
	background-image: url("../img/shape/title_shape_w.png");
}
.ss-title p {
	color: #fff;
}
.screenshot-active .slick-dots {
	position: absolute;
	bottom: -70px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 9;
}
.screenshot-active .slick-dots li {
	display: inline-block;
}
.screenshot-active .slick-dots li button {
	text-indent: -99999px;
	border: none;
	padding: 0;
	background: #fff;
	line-height: 1;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	cursor: pointer;
	margin: 0 4px;
	transition: .3s;
}
.screenshot-active .slick-dots li.slick-active button {
	width: 25px;
	border-radius: 30px;
}
.third-screenshot-title span{
	color: #242424;
}
.third-screenshot-title h3{
	color: #242424;
}
.third-screenshot-title p{
	color: #242424;
}
.ts-content .ss-icon i {
	color: #e51c35;
}
.ts-content .ss-icon h5 {
	font-weight: 600;
	color: #242424;
	margin-bottom: 0;
}
.ts-content p {
	color: #242424;
}
.screendhot-shape {
	position: absolute;
}
.sshape-two {
	left: 8%;
	top: 40%;
}
.sshape-one {
	left: 11%;
	bottom: 20%;
	animation: rotate3d 4s linear infinite;
}
.sshape-three {
	left: 22%;
	bottom: 13%;
}
/* 9. Faq */
.faq-wrapper .card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: block;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #e9e9e9;
}
.faq-wrapper .card:last-child{
	border: none;
}
.faq-wrapper .card-body {
	-webkit-box-flex: 0;
	-ms-flex: 0;
	flex: 0;
	padding: 15px 28px;
	padding-top: 0;
	font-size: 15px;
	line-height: 25px;
    text-align: right;
}
.faq-wrapper .card-header {
	padding: 0;
	margin-bottom: 0;
	background-color: unset;
	border-bottom: unset;
}
.faq-wrapper .card-header:first-child {
	border-radius: 0;
}
.card-header h5 a {
	font-size: 16px;
	font-weight: 600;
	color: #242424;
	display: block;
	    padding: 14px 38px;
    text-align: right;
}
.faq-wrapper .card-header h5 a:hover ,.card-header h5 a:hover i {
	text-decoration: none;
	color: #443020;
}
.faq-wrapper.third-faq .card-header h5 a:hover ,.card-header h5 a:hover i {
	text-decoration: none;
	color: #f82514;
}
.faq-wrapper .card-header h5 a:focus{
	text-decoration: none;
}
.faq-wrapper .card-header h5 a i {
	margin-right: 2px;
	font-size: 22px;
	line-height: 1;
	color: rgba( 36, 36, 36, .502);
	transition: .3s;
    position: absolute;
    right: 0px
}
.faq-wrapper .card-header h5 a::after {
	position: absolute;
	content: "\f109";
	top: 13px;
	left: 0;
	font-size: 20px;
	font-family: Flaticon;
	background: linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 60, 36) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.faq-wrapper.third-faq .card-header h5 a::after {
	background: -webkit-linear-gradient(to right, #e31b38, #f82514);
	background: linear-gradient(to right, #e31b38, #f82514);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.faq-wrapper .card-header h5 a.collapsed:after {
    content: "\f108";
}
.faq-shape {
	position: absolute;
	right: 50px;
	top: -27px;
	width: 441px;
	height: 441px;
	z-index: -1;
}
/* 10. Pricing */
.pricing-bg {
	background-position: top center;
	background-repeat: no-repeat;
}
.pricing-box {
	border-radius: 8px 8px 5px 5px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 65px 0px rgba(68, 68, 68, 0.25);
}
.pricing-head {
	padding-top: 35px;
	padding-bottom: 35px;
	background-image: url("../img/images/pricing_table.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.pricing-head.third-pricing-head {
	background-image: url("../img/images/pricing_table01.png");
}
.pricing-head h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 36px;
	margin-bottom: 0;
}
.pricing-head span {
	color: #fff;
	font-family: 'bukrah', bukrah;
	letter-spacing: 1px;
	opacity: .75;
}
.p-icon {
	height: 61px;
}
.pricing-body {
	padding: 35px 0;
}
.price-count h2 {
	font-size: 40px;
	margin-bottom: 0;
	line-height: 1;
}
.pricing-list ul li {
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	color: #6d6d6d;
}
.pricing-list ul li:last-child {
	margin-bottom: 0;
}
.price-btn .btn {
	border: 1px solid #443020;
	color: #242424;
	background: transparent;
	position: relative;
}
.price-btn.tp-btn .btn {
	border-color: #F52418;
}
.price-btn.tp-btn .btn::before {
	background: -webkit-linear-gradient(to right, #e31b38, #f82514);
	background: linear-gradient(to right, #e31b38, #f82514);
}
.s-price-btn .btn {
	border: 1px solid rgba( 36, 36, 36, .15)
}
.price-btn .btn::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #3d2b1d, #593c25);
	opacity: 0;
	z-index: -1;
	transition: .3s;
}
.s-price-btn .btn::before {
	background: linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	border-radius: 4px;
}
.price-btn .btn:hover {
	color: #fff;
}
.price-btn .btn:hover::before {
	opacity: 1;
}
.pricing-box.active .price-btn .btn{
	color: #fff;
}
.pricing-box.active .price-btn .btn::before{
	opacity: 1;
}
.pricing-box.active .s-price-btn .btn::before{
	opacity: 1;
}
.pricing-shape {
	position: absolute;
	right: 100px;
	bottom: 13%;
	height: 545px;
	width: 545px;
	background: -webkit-linear-gradient( 90deg, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
	will-change: border-radius, transform, opacity;
	animation: morph 5s linear infinite;
	z-index: -1;
}
.pricing-shape.s-pricing-shape {
	background: linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	background: -webkit-linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
}
@keyframes morph{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    opacity: .89;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}
.pricingbox-warp {
	background: #fff;
	box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.15);
	padding-top: 100px;
	padding-bottom: 70px;
	border-radius: 10px;
}
.pricing-box.s-pricing-box {
	border-radius: 0;
	box-shadow: none;
	border-right: 1px solid #dadce1;
	padding-left: 15px;
	padding-right: 15px;
}
.s-pricing-icon {
	display: inline-block;
	line-height: 100px;
}
.s-pricing-icon::before, .s-pricing-icon::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	height: 102px;
	width: 105px;
	background: url("../img/icon/pricing_icon_shape01.png");
	background-size: contain;
	background-position: center;
}
.s-pricing-icon::after {
	background: url("../img/icon/pricing_icon_shape02.png");
	z-index: -1;
	transition: .3s;
	opacity: 0;
}
.s-pricing-icon i {
	font-size: 70px;
	background: linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: .3s;
}
.s-pricing-box:hover .s-pricing-icon::after {
	opacity: 1;
}
.s-pricing-box:hover .s-pricing-icon i {
	-webkit-text-fill-color: #fff;
}
.s-pricing-head h2 {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
}
.s-pricing-head span {
	color: #242424;
	text-transform: capitalize;
	font-size: 15px;
	font-family: 'bukrah', bukrah;
}
.s-pricing-body {
	padding-top: 25px;
	padding-bottom: 35px;
}
.s-pricing-count h2 {
	color: #585CCA;
}
.pricing-shape.s-pricing-shape {
	background: linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	background: -webkit-linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	bottom: unset;
	top: 20%;
}
.s-pricing-bg {
	background: #F7F7F8;
	z-index: 1;
}
.team-shape {
	position: absolute;
	left: 15%;
	top: 25%;
	width: 302px;
	height: 2598px;
	background-repeat: no-repeat;
}
/* 11. Testimonail */
.single-testimonial {
	background: #fff;
	box-shadow: 0px 15px 65px 0px rgba(68, 68, 68, 0.2);
	padding: 80px 100px;
	padding-bottom: 75px;
	margin: 70px 100px;
}
.thrid-testimonial {
	border-left: 5px solid #ec3740;
}
.testimonial-client {
	margin-top: -140px;
	margin-bottom: 20px;
}
.testimonial-client img {
	box-shadow: 0px 6px 9px 0px rgba(68, 68, 68, 0.25);
	border-radius: 50%;
}
.t-client-info h3 {
	font-size: 24px;
	margin-bottom: 0;
}
.t-client-info span {
	font-size: 15px;
	color: #6d6d6d;
	font-family: 'bukrah', bukrah;
}
.testimonial-content i {
	font-size: 40px;
	background: linear-gradient( to top, rgb(87, 59, 35) 0%, rgb(70, 49, 33) 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.testimonial-content p {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 0;
	margin-top: 20px;
}
.testimonial-client img {
	display: inline-block;
}
.testimonial-shape {
	position: absolute;
	left: 16%;
	bottom: 78px;
	height: 538px;
	width: 546px;
	z-index: -1;
	background-repeat: no-repeat;
}
.testimonial-active .slick-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
.testimonial-active .slick-dots li {
	display: inline-block;
	line-height: 1;
	margin: 0 4px;
}
.testimonial-active .slick-dots li button {
	text-indent: -999999px;
	border: 1px solid #9a9a9a;
	padding: 0;
	line-height: 1;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: .3s;
}
.testimonial-active .slick-dots li.slick-active button {
	background: linear-gradient( to top, rgb(87, 59, 35) 0%, rgb(70, 49, 33) 99%);
	border-color: rgb(70, 49, 33);
}
.s-testimonial-active .single-testimonial {
	margin: 65px 0px;
	padding: 64px 100px;
	border-left: 5px solid #443020;
}
.s-testimonial-active .testimonial-client {
	margin-top: -140px;
	margin-bottom: 20px;
	text-align: right;
	margin-right: -70px;
}
.s-testimonial-active .testimonial-content i {
	background: linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.thrid-testimonial .testimonial-content i {
	background: linear-gradient( 180deg, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.s-testimonial-active .slick-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
.s-testimonial-active .slick-dots li {
	display: inline-block;
	line-height: 1;
	margin: 0 4px;
}
.s-testimonial-active .slick-dots li button {
	text-indent: -999999px;
	border: 1px solid #9a9a9a;
	padding: 0;
	line-height: 1;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: .3s;
}
.s-testimonial-active .slick-dots li.slick-active button {
	background: linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(88, 59, 35) 99%);
	border-color: rgb(88, 59, 35);
}
.thrid-testimonial-active .slick-dots li.slick-active button {
	background: linear-gradient( 180deg, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
	border-color: #ec3740;
}
/* 12. Download */
.download-bg {
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
	background-attachment: fixed;
}
.download-bg::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient( 90deg, rgb(88, 60, 36) 0%, rgb(70, 49, 33) 99%);
	opacity: .9;
	z-index: -1;
}
.download-btn{
    float: right;
}
.download-btn a {
	display: inline-block;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
	padding: 10px 25px;
	border-radius: 50px;
	border: 1px solid #fff;
}
.download-btn a i {
	background: -webkit-gradient( linear, left bottom, left top, from(rgb(70, 49, 33)), color-stop(99%, rgb(70, 49, 33)));
	background: linear-gradient( to top, rgb(87, 59, 35) 0%, rgb(70, 49, 33) 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 30px;
	margin-left: 15px;
	float: right;
	display: block;
	margin-top: 4px;
	transition: .3s;
}
.download-btn.third-d-btn i {
	background: -webkit-linear-gradient( 180deg, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
	background: linear-gradient( 180deg, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.download-btn a p span {
	display: block;
	font-size: 14px;
	color: #444;
	font-weight: 400;
	line-height: 1;
	transition: .3s;
    text-align: right;
}
.download-btn a p {
	font-size: 20px;
	font-weight: 600;
	color: #444;
	margin-bottom: 0;
	overflow: hidden;
	transition: .3s;
}
.download-btn .t-transparent-btn {
	margin-left: 15px;
	background: transparent;
	border: 1px solid #fff;
}
.download-btn .t-transparent-btn i {
	color: #fff;
	-webkit-text-fill-color: #fff;
	transition: .3s;
}
.download-btn .t-transparent-btn p span {
	color: #fff;
}
.download-btn .t-transparent-btn p {
	color: #fff;
}
.download-btn .t-transparent-btn:hover {
	background: #fff;
}
.download-btn .t-transparent-btn:hover p span {
	color: #444;
}
.download-btn .t-transparent-btn:hover p {
	color: #444;
}
.download-btn .t-transparent-btn:hover i {
	-webkit-text-fill-color: transparent;
}

.download-btn a:hover {
	background: transparent;
}
.download-btn a:hover p span {
	color: #fff;
}
.download-btn a:hover p {
	color: #fff;
}
.download-btn a:hover i {
	-webkit-text-fill-color: #fff;
}
.download-title h2 {
	font-size: 36px;
	color: #fff;
	margin-bottom: 7px;
	text-transform: capitalize;
    text-align: right;
}
.download-title p {
	color: #fff;
	margin-bottom: 0;
    text-align: right;
}
.download-img {
	position: absolute;
	top: -170px;
	left: 0;
	z-index: 1;
}
.t-download-bg {
	background: linear-gradient( to left, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
}
/* 13. Team */
.team-overlay {
	position: absolute;
	left: 15px;
	bottom: 15px;
	right: 15px;
	top: 15px;
	background: linear-gradient( to top, rgb(88, 59, 36) 0%, rgb(71, 50, 33) 99%);
	z-index: 1;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	opacity: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.s-team-overlay {
	background: linear-gradient(to top, rgba(62, 69, 224, 1) 0%, rgba(66, 70, 167, 1) 99%);
}
.team-img img {
	width: 100%;
}
.team-content {
	padding: 18px 40px;
	color: #fff;
}
.team-info h5 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 0;
}
.team-info span {
	font-size: 15px;
}
.team-content p {
	color: #fff;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #fff;
}
.team-social a {
	height: 35px;
	width: 35px;
	display: inline-block;
	text-align: center;
	line-height: 35px;
	color: #444;
	font-size: 14px;
	background: #fff;
	border-radius: 50%;
	margin: 0 6px;
}
.single-team:hover .team-overlay {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.third-s-team .team-overlay {
	background: linear-gradient( to left, rgba(252,97,78, 1) 0%, rgba(226,67,93, 1) 88%);
}
/* 14. Counter */
.counter-bg {
	position: relative;
	z-index: 1;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.counter-bg::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: -webkit-gradient( linear, left bottom, left top, from(rgba(88, 59, 35, .8)), color-stop(99%, rgba(70, 49, 33, .8)));
	background: linear-gradient( to top, rgba(88, 59, 35, .8) 0%, rgba(70, 49, 33, .8) 99%);
	z-index: -1;
}
.s-counter-bg::after {
	background: linear-gradient(to top, rgba(72, 79, 227, .8) 0%, rgba(66, 70, 167, .8) 99%)
}
.counter-icon i {
	color: #fff;
	font-size: 56px;
	line-height: 1;
	margin-bottom: 10px;
	display: block;
}
.c-count span {
	font-size: 36px;
	font-weight: 600;
	color: #fff;
	font-family: 'bukrah', bukrah;
	line-height: 1;
	display: inline-block;
	margin-bottom: 3px;
}
.single-counter p {
	color: #fff;
	margin-bottom: 0;
	font-size: 20px;
}
.single-counter {
	position: relative;
    text-align: right;
}
.single-counter::before {
	content: "";
	border: 1px solid rgba(255, 255, 255, .5);
	min-height: 60px;
	position: absolute;
	top: 50%;
	left: 150%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.columns:last-child .single-counter::before {
	content: none;
}
.counter-bg.third-counter-bg::after {
	background: linear-gradient( to left, rgba(252,97,78, .75) 0%, rgba(226,67,93, .75) 88%);
}
/* 15. Bolg */
.blog-thumb img {
	width: 100%;
}
.blog-content {
	padding: 40px 25px;
	padding-bottom: 25px;
}
.post-date span {
	background: #fff;
	box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.15);
	font-size: 15px;
	padding: 10px 25px;
	display: inline-block;
	margin-bottom: 25px;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	transition: .3s;
}
.post-date span::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient( to top, rgb(87, 59, 35) 0%, rgb(70, 49, 33) 99%);
	opacity: 0;
	border-radius: 5px;
	transition: .3s;
	z-index: -1;
}
.post-date.s-post-date span::before {
	background: linear-gradient(to top, rgb(72, 79, 227) 0%, rgb(66, 70, 167) 99%);
}
.lb-post:hover .post-date span {
	color: #fff;
}
.lb-post:hover .post-date span::before {
	opacity: 1;
}
.blog-content h5 {
	font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 25px;
}
.blog-content.two-c-content h5 {
	font-size: 24px;
}
.blog-content h5:hover a{
	color: #147df2;
}
.post-meta span > a {
	font-size: 15px;
	color: #242424;
}
.post-meta span > a:hover {
	color: #147df2;
}
.post-meta {
	margin-bottom: 6px;
}
.b-read-more {
	font-size: 15px;
	font-weight: 500;
	color: #242424;
	font-family: 'bukrah', bukrah;
}
.b-read-more i {
	color: #147df2;
	transition: .5s;
	margin-left: 0;
	opacity: 0;
	line-height: 1;
	position: relative;
	top: 2px;
}
.sb-read-more i {
	color: #585dcc;
}
.blog-content p {
	margin-bottom: 16px;
}
.lb-post {
	transition: .3s;
}
.lb-post:hover {
	box-shadow: 0px 14px 13px 0px rgba(68, 68, 68, 0.25);
}
.lb-post:hover .b-read-more {
	color: #147df2;
}
.lb-post:hover .sb-read-more {
	color: #585dcc;
}
.lb-post:hover .b-read-more i {
	opacity: 1;
	margin-left: 20px;
}
.post-date {
	margin-top: -60px;
}
.s-blog-content h5:hover a {
	color: #585dcc;
}
.third-blog-post .post-date span::before {
	background: -webkit-linear-gradient( to left, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
	background: linear-gradient( to left, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
}
.third-blog-post .blog-content h5:hover a {
	color: #fb3d47;
}
.third-blog-post:hover .b-read-more {
	color: #fb3d47;
}
.third-blog-post .b-read-more i {
	color: #fb3d47;
}
.third-blog-post .post-meta span > a:hover {
	color: #fb3d47;
}
.widget-title h3 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 0;
}
.sidebar-form input {
	width: 100%;
	border: 1px solid #f2f2f2;
	padding: 15px 25px;
}
.sidebar-form input::placeholder {
	font-size: 15px;
	color: #a7a7a7;
	font-family: 'bukrah', bukrah;
}
.sidebar-form button {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	background: none;
	padding: 0;
	font-size: 24px;
	color: #c8c8c8;
	cursor: pointer;
}
.rc-thumb {
	float: left;
	display: block;
	margin-right: 12px;
}
.rc-content {
	overflow: hidden;
}
.rc-post ul li {
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-bottom: 25px;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 25px;
}
.rc-post ul li:last-child {
	margin-bottom: 0;
	border: none;
	padding-bottom: 0;
}
.rc-content span {
	font-size: 12px;
	text-transform: uppercase;
	color: #0c72de;
	font-family: 'bukrah', bukrah;
	display: block;
	margin-bottom: 5px;
}
.rc-content h5 {
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 0;
}
.rc-content h5:hover a {
	color: #0c72de;
}
.cat-list ul li {
	display: block;
	margin-bottom: 10px;
}
.cat-list ul li:last-child {
	margin-bottom: 0;
}
.cat-list ul li a {
	font-size: 18px;
	color: #242424;
	font-family: 'bukrah', bukrah;
}
.cat-list ul li a:hover {
	color: #0c72de;
}
.tag-list ul li {
	display: inline-block;
}
.tag-list ul li a {
	display: block;
}
.tag-list ul li {
	display: inline-block;
	margin: 6px 4px;
}
.tag-list ul li a {
	display: block;
	font-size: 18px;
	color: #242424;
	padding: 6px 15px;
	border: 1px solid #dedede;
}
.tag-list ul li a:hover {
	background: #0c72de;
	color: #fff;
	border-color: #0c72de;
}
.insta-post ul li {
	display: inline-block;
	margin: 5px 4px;
	width: 30%;
}
.insta-post ul li img {
	width: 100%;
}
.bdetails-content h3 {
	font-size: 24px;
	padding-right: 120px;
	margin-bottom: 15px;
}
.bdetails-content p {
	margin-bottom: 0;
}
blockquote {
	margin: 25px 0;
	background: -webkit-linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(28,72,175) 100%);
	background: linear-gradient( to top, rgb(70, 49, 33) 0%, rgb(28,72,175) 100%);
	padding: 30px;
	color: #fff;
	font-size: 15px;
}
.post-share a i {
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	border: 1px solid #919191;
	color: #919191;
	border-radius: 50%;
	margin: 0 5px;
	background: #fff;
	transition: .3s;
}
.post-share {
	position: relative;
	margin-top: 30px;
}
.post-share::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 1px;
	width: 100%;
	background: #dbdbdb;
	z-index: -1;
}
.post-share a:hover .fa-facebook-f {
	background: #3b5998 ;
	border-color: #3b5998;
	color: #fff;
}
.post-share a:hover .fa-twitter {
	background: #55acee ;
	border-color: #55acee;
	color: #fff;
}
.post-share a:hover .fa-instagram {
	background: #517fa4;
	border-color: #517fa4;
	color: #fff;
}
.post-share a:hover .fa-dribbble {
	background: #ea4c89;
	border-color: #ea4c89 ;
	color: #fff;
}
.comments-wrap h4, .comments-box h4 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 25px;
}
.latest-comments ul li {
	overflow: hidden;
	padding-bottom: 25px;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 25px;
}
.comment-avatar {
	float: left;
	display: block;
	margin-right: 20px;
}
.comment-text {
	overflow: hidden;
	display: block;
}
.avatar-name {
	overflow: hidden;
	margin-bottom: 5px;
}
.avatar-name .reply {
	float: right;
	position: relative;
	top: -15px;
	font-size: 15px;
	color: #242424;
}
.avatar-name h6 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 0;
	margin-right: 10px;
}
.avatar-name span {
	font-size: 12px;
}
.comment-text p {
	margin-bottom: 0;
	font-size: 16px;
}
.latest-comments ul li.children {
	padding-left: 80px;
}
.latest-comments ul li:last-child {
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}
.comment-form input {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #e9e9e9;
	margin-bottom: 20px;
}
.comment-form textarea {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #e9e9e9;
	margin-bottom: 20px;
	height: 185px;
}
/* 16. Contact */
.contact-content.cc-bg {
	padding: 162px 80px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;
	z-index: 1;
	background-position: center;
}
.contact-content.cc-bg::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: -webkit-gradient( linear, left bottom, left top, from(rgba(88, 59, 35, .7)), color-stop(99%, rgba(70, 49, 33, .7)));
	background: linear-gradient( to top, rgba(88, 59, 35, .7) 0%, rgba(70, 49, 33, .7) 99%);
	z-index: -1;
}
.third-contact-area .cc-bg::after {
	background: -webkit-linear-gradient( to left, rgba(252,97,78, .75) 0%, rgba(226,67,93, .75) 88%);
	background: linear-gradient( to left, rgba(252,97,78, .75) 0%, rgba(226,67,93, .75) 88%);
}
.contact-address.cc-bg.inner-c-bg::after {
	background: -webkit-linear-gradient( to top, rgba(88, 59, 35, .7) 0%, rgba(70, 49, 33, .7) 99%);
	background: linear-gradient( to top, rgba(88, 59, 35, .7) 0%, rgba(70, 49, 33, .7) 99%)
}
.third-contact-area .contact-form button {
	background: -webkit-linear-gradient( to left, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
	background: linear-gradient( to left, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
}
.third-contact-area .message-form button {
	background: -webkit-linear-gradient( to left, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
	background: linear-gradient( to left, rgb(252,97,78) 0%, rgb(226,67,93) 88%);
}
.contact-address.cc-bg {
	padding: 90px 60px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
	background-position: center;
}
.contact-address.cc-bg::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: linear-gradient(to top, rgba(72, 79, 227, .8) 0%, rgba(66, 70, 167, .8) 99%);
	z-index: -1;
}
.contact-content h4 {
	font-size: 36px;
	color: #fff;
	margin-bottom: 0;
}
.contact-content p {
	font-size: 15px;
	margin-bottom: 0;
	color: #fff;
}
.contact-form input {
	width: 100%;
	padding: 12px 25px;
	border: none;
	border-radius: 50px;
	padding-right: 120px;
}
.contact-form input::placeholder {
	font-size: 14px;
	opacity: .8;
}
.contact-form button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -2px;
	border: none;
	background: linear-gradient( to top, rgb(87, 59, 35) 0%, rgb(70, 49, 33) 99%);
	color: #fff;
	text-transform: uppercase;
	height: 100%;
	font-weight: 600;
	font-family: 'bukrah', bukrah;
	padding: 0 33px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	cursor: pointer;
}
.message-form input {
	width: 100%;
	border: 1px solid #dedede;
	padding: 10px 15px;
	margin-bottom: 20px;
    text-align: right;
}
.message-form input::placeholder {
	font-size: 15px;
	color: #242424;
	opacity: .5;
	font-style: italic;
    text-align: right;
}
.message-form textarea {
	width: 100%;
	border: 1px solid #dedede;
	padding: 10px 15px;
	margin-bottom: 20px;
	height: 180px;
    text-align: right;
}
.message-form textarea::placeholder {
	font-size: 15px;
	color: #242424;
	opacity: .5;
	font-style: italic;
    text-align: right;
}
.contact-wrap {
	background: #fff;
	box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.15);
	margin-bottom: -250px;
	z-index: 9;
	position: relative;
}
.message-form {
	padding-right: 30px;
}
.s-message-form button {
	background: linear-gradient(to top, rgb(72, 79, 227) 0%, rgb(66, 70, 167) 99%);
}
.subscribe-form {
	margin: 0 95px;
	position: relative;
}
.subscribe-form input {
	width: 100%;
	background: none;
	border: 1px solid #d3d3d3;
	padding: 13px 30px;
	border-radius: 50px;
	padding-right: 150px;
}
.subscribe-form button {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	background: linear-gradient(to top, rgb(72, 79, 227) 0%, rgb(66, 70, 167) 99%);
	padding: 0;
	border: none;
	width: 110px;
	height: 40px;
	border-top-right-radius: 50px;
	cursor: pointer;
	border-bottom-right-radius: 50px;
	color: #fff;
}
.contact-address h4 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 5px;
}
.contact-address p {
	margin-bottom: 30px;
	color: #fff;
}
.cta-list .icon {
	float: left;
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 10px;
}
.cta-list .icon i {
	font-size: 15px;
	color: #fff;
}
.address-content {
	overflow: hidden;
	display: block;
}
.address-content h5 {
	font-size: 18px;
	margin-bottom: 3px;
	color: #fff;
	font-weight: 700;
	font-family: 'bukrah', bukrah;
}
.address-content span {
	color: #fff;
	font-size: 15px;
}
.cta-list ul li {
	margin-bottom: 15px;
}
.cta-list ul li:last-child {
	margin-bottom: 0;
}
.map-wrap.second-map {
	margin-bottom: -206px;
}
.map-wrap .map-bg {
	background-image: url("../img/bg/map_bg.jpg");
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;
}
.map-wrap.second-map .map-bg{
	height: 700px;
}
/* 17. Footer */
.footer-bg {
	background-position: center;
	background-size: cover;
}
.footer-text p {
	margin-bottom: 0;
	color: #fff;
	padding: 0 50px;
}
.footer-top {
	border-bottom: 1px solid #443020;
}
.copyright-text p {
	margin-bottom: 0;
	color: #fff;
	font-size: 15px;
}
.footer-social a {
	height: 35px;
	width: 35px;
	display: inline-block;
	text-align: center;
	line-height: 35px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 0 7px;
}
.footer-social a:hover {
	color: #585dcc;
	background: #fff;
}
.footer-top.s-footer {
	border-bottom: none;
	padding-bottom: 20px;
}
.footer-cta h5 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 10px;
}
.footer-cta p {
	color: #fff;
	padding-right: 50px;
	font-weight: 600;
	margin-bottom: 10px;
}
.footer-cta ul li {
	margin-bottom: 10px;
}
.footer-cta ul li i {
	font-size: 14px;
	color: #fff;
	margin-right: 8px;
}
.footer-cta ul li span {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.footer-cta ul li:last-child {
	margin-bottom: 0;
}
.footer-cta ul {
	padding-bottom: 15px;
	border-bottom: 1px solid #fff;
	margin-right: 100px;
	margin-bottom: 20px;
}
.footer-social a {
	height: 35px;
	width: 35px;
	display: inline-block;
	text-align: center;
	line-height: 35px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 0;
	margin-right: 10px;
}
.footer-bg.third-footer-bg {
	background-size: 100% 100%;
}
.footer-img {
	position: absolute;
	bottom: -140px;
	right: 0;
}
.footer-bg.third-footer-bg .footer-top {
	border: none;
}


/* 18. loader */
.dark #preloader {
  background-color: #232323;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #453020;
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
.t-right{
    
    direction: rtl; 
}
.map {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}

/*--- end of preloader ---*/